html {
    background-color: aqua;
    font-family: sans-serif;
}

li {
    display: inline;
    list-style: none;
}

#cat-ball {
    border-radius: 50%;
    margin: 0 auto;
/*
    width: 30em;
    height: 30em;
*/
    background-size: cover;
    background-position: center;
    box-shadow: 0em 0em 3em #fcfc5a;
}
#header-exclaim {
    font-size: 2.9em;
    float: right;
    clear: right;
    margin-top: -0.5em;
    margin-left: 0.2em;
    position: absolute;
}

#header {
    visibility: hidden;
    width: 100%;
    height: 100%;
    margin-top: 0em;
    margin-bottom: 2em;
    color: white;
    background-color: black;
    font-size: 2em;
}

#bottom-content, #text-fix {
    text-align: center;
}

#text-fix {
    
    text-transform: uppercase;
/*    font-style: italic;*/
}

#bottom-content {
    margin-top: 2em;
}

#header-ball {
    font-size: 1.4em;
}

#kinda {
    clear: left;
    float: left;
    margin-left: 2em; 
}

#hella {
    clear: right;
    float: right;
    margin-right: 2em;
}

#fatness {
    width: 40em;
}

#report {
    
}
